@use "sass:map";

$breakpoints: (
  md: 761px,
  lg: 1181px,
);

@mixin up($name) {
  $width: map.get($breakpoints, $name);

  @if $width == null {
    @error "Unknown breakpoint: #{$name}";
  }

  @media (min-width: $width) {
    @content;
  }
}
